
<div class="layout_back">
  <div class="layout_wide">
    <div class="layout_position">
      <div class="layout_item_back">
        <p>ログイン</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class: "field_size" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "field_size" %>
          </div>
          <%= f.submit "ログイン", class: "btn blue_button user_btn_size" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

