// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room {
    width: 100%;
    padding: 30px 60px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.room-frame-inner {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.room-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}
.room-image-out {
    position: relative;
    width: 100%;
    background: #F6F8F9;
    height: 200px;
}
.room-profile {
    width: 100%;
    padding: 15px;
}
.room-profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}
.room-profile-city {
    font-size: 16px;
    font-weight: bold;
}
.room-profile-price {
    text-align: right;
    font-size: 16px;
    letter-spacing: 1px;
}

.col-sm-6, .col-xl-3, .col-lg-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 576px){
    .col-sm-6 {
        flex: 0 0 50%; 
        max-width: 50%;
    }
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 1200px){
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.link_g{
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}
.link_b{
    color: #000;
}

.room-show {
    padding: 30px 0;
}
.room_show_left{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-8, .col-md-4{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
@media (min-width: 768px){
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.room_show_img{
    width: 100%;
}
.room_show_text{
    display: flex;
}
.room_show_icon {
    padding: 10px;
}
.room_show_name{
    font-size: 18px;
    font-weight: bold;
}
.room_show_address{
    font-size: 14px;
}
.room_show_intro{
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}
.room_show_profile {
    margin: 0 10px;
}
.room_show_right_wide{
    padding: 20px;
    border: 1px solid #eaedef;
}
.room_show_form{
    padding: 15px 0;
}
.form_layout {
    margin: 10px;
}
.room_index_img{
    width: 290px;
}
.room_index_name{
    width: 260px;
}
.room_index_introduction{
    width: 300px;
}
.room_index_price{
    width: 120px;
}
.room_index_date{
    width: 250px;
}
.room_table th{
    border-top: 1px solid #eaedef;
}
